---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Education</h2>
<ul>
  <li>
    <strong>B.E. in Software Engineering</strong>, Yunnan University, 2019-2023
    <ul>
      <li>GPA: 3.8/4.0</li>
      <li>Main classes: Advanced Mathematics, Probability and Statistics, Computer Networks, Software Engineering, etc.</li>
    </ul>
  </li>
  <li>
    <strong>M.E. in Electronic Science and Technology</strong>, Southern University of Science and Technology, 2023-2026 (expected)
    <ul>
      <li>Main classes: Advanced Artificial Intelligence, Advanced Algorithms, Numerical Methods, Human Intelligence and Machine Intelligence, etc.</li>
    </ul>
  </li>
</ul>



