---
layout: archive
title: "Publications & Projects"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Projects</h2>
<ul>
  <li>
    <strong>Huawei-SUSTech Trusted Intelligent Systems Innovation Laboratory AI Transparency Project</strong>, 2023-2024
    <ul>
      <li>Main classes: Advanced Mathematics, Probability and Statistics, Computer Networks, Software Engineering, etc.</li>
    </ul>
  </li>
  <li>
    <strong>Fuzzy Facial Processing and Recognition System</strong>, 2022
    <ul>
      <li>Studied relevant field papers to understand the state-of-the-art technology in low-resolution facial recognition.</li>
      <li>Selected appropriate solutions and performed data preprocessing and model training.</li>
    </ul>
  </li>
  <li>
    <strong>Other Projects:</strong>
    <ul>
      <li>
        <strong>Team Naming Software:</strong> Used WeChat Cloud to develop a database, with WXML + WXS + JS development.
      </li>
      <li>
        <strong>A Facial Recognition System Based on Tracking Algorithms:</strong> Utilized the Hongsoft facial recognition interface and developed the system using the Springboot + Mybatis-plus + Angular framework.
      </li>
      <li>
        <strong>Huan Yan:</strong> Developed a tool for restoring old and blurred photos using the open-source algorithm GFPGAN on the WeChat mini program platform.
      </li>
    </ul>
  </li>
</ul>



